{
  "env": {
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb-typescript/base",
    "prettier/@typescript-eslint",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": ["prettier", "jest"],
  "rules": {
    "prettier/prettier": "warn",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "react/forbid-prop-types": [0, { "forbid": ["any"] }],
    "react/prop-types": 0,
    "no-unused-vars": "warn",
    "no-param-reassign": "off",
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "import/prefer-default-export": 0,
    "no-plusplus": ["warn", { "allowForLoopAfterthoughts": true }]
  }

  // "overrides": [
  //   {
  //     "files": ["./client"]
  //   },
  //   {
  //     "files": ["**/*.md/*.js"],
  //     "rules": {
  //       "strict": "off"
  //     }
  //   }
  // ]
}
